#project-details {
	background: #05152d;
	color: #fff;

	.project-details-container {
		// padding: 5rem 0;

		margin: 0 auto;
		&__h1 {
			font-size: 2rem;
			font-weight: 300;
			text-align: center;
			padding: 10px 0;
			border-bottom: 1px solid black;
			color: #fff;
		}

		.project-container {
			margin-top: 2rem;
			// display: flex;
			@media only screen and (max-width: 1300px) {
				display: block !important;
				.project-details__moreDetails__link {
					font-size: 0.8rem !important;
				}
			}
		}
	}

	.project-details {
		&__title {
			text-align: center;
			padding: 2rem 0;
		}
		&__link {
			text-decoration: none;
			color: #a6c5f3;
			font-size: 3rem;
			text-transform: uppercase;
			font-weight: 700;
		}
		&__img {
			max-width: 300px;
		}
		&__descriptionContainer {
			text-align: center;
			font-size: 1.3em;
			// flex: 2;
			line-height: 1.5;
			color: #cac6c6;
			font-weight: 300;
		}
		&__description {
			// max-width: 400px;
		}
		&__imgSection {
			flex: 1;
			@media only screen and (max-width: 700px) {
				iframe {
					width: 100%;
				}
			}
			&__img {
				width: 100%;
				box-shadow: $boxshadow;
				border-radius: 3px;
				transition: $transition;
				cursor: pointer;

				&:hover {
					transform: scale(1.5);
				}
			}
		}
		&__moreDetails {
			margin-top: 2rem;
			text-align: center;
			&__link {
				text-decoration: none;
				padding: 10px 20px;
				background: transparent;
				border: 1px solid #424f58;
				color: #fff;
				font-weight: 500;
				font-size: 1rem;
				// color: white;
				cursor: pointer;
				&:hover {
					background: #ff9a20;
					color: white;
					transition: $transition;
				}
			}
		}
	}
}

.projectImages {
	position: relative;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	&__desktop {
		@media only screen and (max-width: 1000px) {
			max-width: 100%;
			margin-bottom: 1.5rem;
		}
	}
	&__mobile {
		max-width: 130px;
		position: absolute;
		left: 61%;
		top: 31%;

		&--video {
			left: 35%;
			top: 30%;
			@media only screen and (max-width: 1145px) {
				top: 16%;
				left: 64%;
			}
			@media only screen and (max-width: 500px) {
				max-width: 100px;
				top: 20%;
				left: 70%;
			}
		}
	}
	@media only screen and (max-width: 550px) {
		iframe {
			max-width: 90%;
		}
	}
}
