$background: #1a1f34;
$table-background: #1f2740;
$table-text: #8b92a9;
$modal-light-text: #bec5da;
$border-bottom: 1px solid rgba(181, 181, 181, 0.1);
// $border-input-bottom: #9d61f4;
$border-input-bottom: #62a6ff;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
